[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyGithub = "*"
python-gitlab = "*"
requests = "*"
awscli = "*"
boto3 = "*"
jmespath = "*"

[dev-packages]
pylint = "*"
